<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Hybrid Automation Framework Suite">
<listeners>
	<listener class-name="com.automate.selenium.listeners.TestListener"></listener>
</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.automate.selenium.testcases.RegisterTest" />
			<class name="com.automate.selenium.testcases.LoginTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
